---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="SaltLakeCity.Dental">
  <main class="min-h-screen relative w-full overflow-x-hidden">
    <div
      class="size-[700px] rounded-full absolute -top-[150px] left-[45%] bg-accent -z-20 blur-2xl opacity-80"
    >
    </div>
    <div
      class="size-[700px] rounded-full absolute -top-[80px] left-[70%] bg-primary blur-2xl opacity-80 -z-30"
    >
    </div>

    <header
      class="container mx-auto w-full flex items-center p-4 lg:px-8 lg:py-4 bg-background-200 rounded-3xl mt-5 opacity-100"
    >
      <h1 class="font-montserrat text-lg">SaltLakeCity.dental</h1>
      <nav
        class="flex items-center lg:gap-8 ml-auto text-black font-semibold text-sm"
      >
        <a href="#" class="">Meet The Doctor</a>
        <a href="#" class="">Services</a>
        <a href="#" class="">Blog</a>
        <a href="#" class="">Documentation</a>

        <a href="#" class="bg-foreground text-white px-4 py-2 rounded-xl lg:ml-6">
          Book a Consult
        </a>
      </nav>
    </header>
  </main>
</BaseLayout>
