---
import Button from "../components/ui/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from 'astro:assets';
import teethImage from "../images/teeth.svg";
---

<BaseLayout title="SaltLakeCity.Dental">
  <main class="min-h-screen relative w-full overflow-x-hidden flex flex-col">
    <div
      class="size-[700px] rounded-full absolute -top-[150px] left-[45%] bg-accent -z-20 blur-3xl opacity-70"
    >
    </div>
    <div
      class="size-[700px] rounded-full absolute -top-[80px] left-[70%] bg-primary blur-3xl opacity-70 -z-30"
    >
    </div>
    <Image
      src={teethImage}
      alt="Teeth"
      class="absolute bottom-80 right-80"
      />

    <header
      class="container mx-auto w-full flex items-center p-4 lg:px-8 lg:py-4 bg-background-200 rounded-3xl mt-5 opacity-100"
    >
      <h1 class="font-montserrat text-lg">SaltLakeCity.dental</h1>
      <nav
        class="flex items-center lg:gap-8 ml-auto text-black font-semibold text-md"
      >
        <a href="#" class="">Meet The Doctor</a>
        <a href="#" class="">Services</a>
        <a href="#" class="">Blog</a>
        <a href="#" class="">Documentation</a>

        <a
          href="#"
          class="bg-foreground text-white px-4 py-2 rounded-xl lg:ml-6"
        >
          Book a Consult
        </a>
      </nav>
    </header>
    <div
      class="h-full flex-grow container mx-auto flex flex-col items-center justify-center gap-4 lg:gap-8"
    >
      <h2
        class="text-6xl font-mada mt-10 leading-[80px] tracking-normal max-w-[500px] text-center"
      >
        High End Dentistry and Smile Design
      </h2>
      <p class="font-medium text-xl max-w-[530px] text-center mt-3">
        Preventative care, cosmetic dentistry, and modern implant solutions in
        Salt Lake City
      </p>
      <Button> Book a Consult </Button>
      <div class="flex items-center gap-4">
        <span class="w-8 h-[0.5px] bg-foreground-200/50"></span>
        <span class="text-foreground-200/50 uppercase text-xs tracking-wider">or</span>
        <span class="w-8 h-[0.5px] bg-foreground-200/50"></span>
      </div>
      <div class="flex items-center">
        <input
          type="email"
          placeholder="Email address"
          class="flex h-10 w-full min-w-[230px] rounded-l-3xl border border-foreground/50 px-4 py-2 text-sm placeholder:text-foreground/50 disabled:cursor-not-allowed disabled:opacity-50 focus:outline-none"
        />
        <Button class="rounded-none rounded-r-3xl bg-foreground/50 text-white">
          Subscribe
        </Button>
      </div>
    </div>
  </main>
</BaseLayout>
