---
import { ArrowRight } from "lucide-astro";
---

<button
  class="inline-flex items-center justify-center whitespace-nowrap rounded-3xl text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-accent-300 text-foreground h-10 px-5 py-2"
>
  <slot />
  <ArrowRight class="size-4 ml-6" />
</button>
